.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ReactTable .rt-tr-group {
  cursor: pointer;
}

.ReactTable .-pagination .-btn {
  background: #c2cfd6;
}

.rt-tr-group .form-group {
  margin-bottom: 0;
}

.RadioBox-input {
  margin: 10px 0 0 20px;
}